## Observations and Insights

In [16]:
%matplotlib notebook
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

mouse_metadata.head()
#table_length = len(mouse_metadata["Mouse ID"])
#table_length
#study_results.head()

# Combine the data into a single dataset with a join on Mouse ID
mouse_study_joined_results_df = pd.DataFrame.merge(mouse_metadata, study_results, on="Mouse ID",how="left")


# Display the data table for preview
mouse_study_joined_results_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [17]:
# Checking the number of mice.
unique_mice = len(mouse_study_joined_results_df["Mouse ID"].unique())
unique_mice

249

In [18]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
#duplicated_mice = mouse_study_joined_results_df.duplicated(subset=['Mouse ID','Timepoint'],keep=False)
duplicated_mice_ID = mouse_study_joined_results_df.loc[mouse_study_joined_results_df.duplicated(subset=['Mouse ID','Timepoint']),'Mouse ID']
duplicated_mice_ID
#duplicated_mice_df = pd.DataFrame(duplicated_mice)
#duplicated_mice_df.head()

909    g989
911    g989
913    g989
915    g989
917    g989
Name: Mouse ID, dtype: object

In [19]:
# Optional: Get all the data for the duplicate mouse ID. 
Duped_mouse_study_df = mouse_study_joined_results_df[mouse_study_joined_results_df['Mouse ID'] == 'g989']
Duped_mouse_study_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
908,g989,Propriva,Female,21,26,0,45.000000,0
909,g989,Propriva,Female,21,26,0,45.000000,0
910,g989,Propriva,Female,21,26,5,48.786801,0
911,g989,Propriva,Female,21,26,5,47.570392,0
912,g989,Propriva,Female,21,26,10,51.745156,0
913,g989,Propriva,Female,21,26,10,49.880528,0
914,g989,Propriva,Female,21,26,15,51.325852,1
915,g989,Propriva,Female,21,26,15,53.442020,0
916,g989,Propriva,Female,21,26,20,55.326122,1
917,g989,Propriva,Female,21,26,20,54.657650,1
918,g989,Propriva,Female,21,26,25,56.045564,1
919,g989,Propriva,Female,21,26,30,59.082294,1
920,g989,Propriva,Female,21,26,35,62.570880,2

In [20]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
cleaned_mouse_study_df = mouse_study_joined_results_df[mouse_study_joined_results_df['Mouse ID'] != 'g989']
#cleaned_mouse_study = pd.DataFrame(cleaned_mouse_study)
cleaned_mouse_study_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [21]:
# Checking the number of mice in the clean DataFrame.
unique_mice2 = len(cleaned_mouse_study_df["Mouse ID"].unique())
unique_mice2

248

## Summary Statistics

In [30]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
#tumor_mean = cleaned_mouse_study_df['Tumor Volume (mm3)'].mean()
#tumor_mean
#tumor_median = cleaned_mouse_study_df['Tumor Volume (mm3)'].median()
#tumor_median

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
tumor_mean = cleaned_mouse_study_df.groupby('Drug Regimen').mean()['Tumor Volume (mm3)']
tumor_mean = cleaned_mouse_study_df.groupby('Drug Regimen').median()['Tumor Volume (mm3)']
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

summary_df = pd.DataFrame({'Tumor Mean': tumor_mean, 'Tumor Median':tumor_median})
summary_df

              Tumor Mean  Tumor Median
Drug Regimen
Capomulin      41.557809     48.933454
Ceftamin       51.776157     48.933454
Infubinol      51.820584     48.933454
Ketapril       53.698743     48.933454
Naftisol       52.509285     48.933454
Placebo        52.288934     48.933454
Propriva       50.446266     48.933454
Ramicane       40.673236     48.933454
Stelasyn       52.431737     48.933454
Zoniferol      51.818479     48.933454

In [31]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line
summary_aggregated_df = cleaned_mouse_study_df.agg({'Tumor Volume (mm3)': ['mean','median','var','std','sem']})
summary_aggregated_df.head()

        Tumor Volume (mm3)
mean             50.435293
median           48.933454
var              79.462907
std               8.914197
sem               0.205591

## Bar and Pie Charts

In [51]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pandas.
number_of_mice_groupby = mouse_study_joined_results_df.groupby("Mouse ID")
number_of_mice_df = pd.DataFrame(number_of_mice_groupby)
number_of_mice_df.head()
#number_of_mice = number_of_mice_df.row_counts()
#number_of_mice

      0                                                  1
0  a203      Mouse ID Drug Regimen     Sex  Age_months ...
1  a251      Mouse ID Drug Regimen     Sex  Age_months ...
2  a262      Mouse ID Drug Regimen     Sex  Age_months ...
3  a275      Mouse ID Drug Regimen     Sex  Age_months ...
4  a366      Mouse ID Drug Regimen     Sex  Age_months ...

In [45]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen